<div class="m-4 px-4 pt-2 flex items-center justify-center">
  <div class="">
    <p class="!mb-0 !pb-0 font-bold text-2xl text-red-900">SENSORES</p>
  </div>

</div>

<div class="m-4 p-4 grid grid-cols-3 gap-8">
  <shared-card-sensores [sensor]="sensor" (click)="redirectToShow(sensor.id)" *ngFor="let sensor of sensores" />

</div>




  <!-- <div class="relative w-16"> -->
    <!-- Color rojo -->
    <!-- <div class="w-16 h-10 bg-red-500"></div> -->
    <!-- Color naranja -->
    <!-- <div class="w-16 h-10 bg-orange-500"></div> -->
    <!-- Color amarillo -->
    <!-- <div class="w-16 h-10 bg-yellow-500"></div> -->
    <!-- Color verde -->
    <!-- <div class="w-16 h-10 bg-green-500"></div> -->
    <!-- Marco del termómetro -->
    <!-- <div class="absolute top-0 left-0 right-0 bottom-0 border border-gray-500"></div> -->
  <!-- </div> -->


