<div class="w-full h-full pt-8 md:pt-20 grid grid-cols-2">
    <div class="grid col-span-1 justify-items-end">
      <div class="w-full h-full max-w-sm bg-white border border-gray-200 rounded-lg shadow pt-2">

        <mat-card class="example-card ">
          <mat-card-header class="w-full">
            <div class="w-full text-center">
              <mat-card-title class="text-4xl">{{sensor.nombre}}</mat-card-title>
              <mat-card-subtitle class="text-2xl">
                Puerto: {{sensor.puerto}}
              </mat-card-subtitle>
            </div>
          </mat-card-header>
          <img mat-card-image class="p-8 rounded-t-lg w-full" [src]="sensor.imagen">
          <mat-card-content>
            <p>
              Longitud: {{sensor.longitud}} <br>
              Latitud: {{sensor.latitud}}
            </p>
          </mat-card-content>

          <mat-card-actions class="flex justify-center">
              <a class="bg-amber-600 hover:bg-amber-800" href="https://firms.modaps.eosdis.nasa.gov/map/#d:today;@-63.1,-17.8,10.9z" target="_blank">
                <button  mat-raised-button color="accent" >Ver en Firms Nasa</button>
              </a>
          </mat-card-actions>
        </mat-card>

      </div>
    </div>
    <div class="col-span-1 justify-items-start">
      <div class="w-full h-full max-w-sm bg-white border border-gray-200 rounded-lg shadow pt-2">
        <shared-mapa *ngIf="hasLoaded" [alto]="'[32rem]'" [ancho]="'[28rem]'" [latitud]="latitud" [longitud]="longitud"/>
      </div>
    </div>
    <shared-tabla-datos-sensor class="flex justify-center col-span-2"></shared-tabla-datos-sensor>

</div>

