<div class="w-full h-full pt-8 md:pt-20 grid grid-cols-2 px-4">
  <div class="grid col-span-1 justify-items-end">
    <div class="w-full h-full max-w-xl bg-white rounded-lg">
      <mat-card class="example-card ">
        <mat-card-header class="w-full">
          <div class="w-full text-center">
            <mat-card-title class="text-4xl">{{sensor.nombre}}</mat-card-title>
            <mat-card-subtitle class="text-2xl">
              Puerto: {{sensor.puerto}}
            </mat-card-subtitle>
          </div>
        </mat-card-header>
        <img mat-card-image class="p-8 rounded-t-lg w-full" [src]="sensor.imagen">
        <mat-card-content>
          <div class="grid grid-cols-2 w-full justify-center items-center mt-4">
            <p class="pr-4 font-bold flex items-center">PPM: </p>
            <div class="w-16 h-8 px-2 py-1 font-bold flex justify-center items-center" [ngClass]="color" id="ppm">
              {{valor_ppm || '000'}}
            </div>
          </div>

          <div class="grid grid-cols-2 w-full justify-center items-center" id="temp_div">
            <p class="pr-4 font-bold flex items-center">Temp:</p>
            <div class="w-16 h-8 px-2 py-1 font-bold flex justify-center items-center" [ngClass]="color_temp" id="temp">
              {{valor_temp || '000°'}}
            </div>
          </div>
          <br>
          <span class="w-full  h-8 px-2 py-1 font-bold flex justify-center items-center" [ngClass]="color" id="estado">
            {{estado}}
          </span>
        </mat-card-content>

        <mat-card-actions class="flex justify-center">
          <a class="bg-amber-600 hover:bg-amber-800" [href]="mapa" target="_blank">
            <button mat-raised-button color="accent">Ver en Firms Nasa</button>
          </a>
        </mat-card-actions>
        <br>
      </mat-card>
      <br>
      <p class="text-center text-2xl font-bold py-2">Ubicacion en el mapa</p>
      <div class="flex justify-center text-center">
        <shared-mapa *ngIf="hasLoaded" [alto]="'[28rem]'" [ancho]="'[24rem]'" [latitud]="latitud"
          [longitud]="longitud" />
      </div>
    </div>
  </div>
  <!-- <div class="col-span-1 justify-items-start">
    <div class="w-full h-full max-w-md bg-white border border-gray-200 rounded-lg shadow">
      <shared-mapa *ngIf="hasLoaded" [alto]="'[28rem]'" [ancho]="'[24rem]'" [latitud]="latitud" [longitud]="longitud" />
    </div>
  </div> -->
  <shared-tabla-datos-sensor class="flex justify-center col-span-1" [sensor_id]="id_sensor"></shared-tabla-datos-sensor>
  <br>
  <br>
</div>
