<div class="fixed inset-0 z-50 flex items-center justify-center">
  <div class="bg-black opacity-50 inset-0 absolute"></div>
  <div class="flex flex-col align-items-center items-center justify-center bg-white p-8 rounded shadow-md z-10">
    <img src="assets/img/sirena.gif" alt="Descripción de la imagen" class="w-64 mb-4">
    <p class="pb-2 w-80 font-bold text-xl text-red-950 text-justify">{{ descripcion }}</p>

    <button class="w-full bg-gradient-to-r from-red-500 to-yellow-500 text-white py-2 px-4 rounded" (click)="closeModal()">
      Ir al sensor
    </button>

  </div>

    <audio id="modalAudio">
      <source src="assets/audio/alarma.mp3" type="audio/mp3">
      Tu navegador no soporta el elemento de audio.
    </audio>
</div>



